body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 3.2em 0 0 0;
}

#navbar {
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.85);
	//background-color: black;
	width: 100%;
	height: 3em;
	text-align: right;
	line-height: 3em;
	border-bottom: 0.2em white;
	z-index: 10;
}

#navbar form {
	float: right;
	padding: 0 1em;
}

.hidden {
	display: none;
}

ul.movies {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.movies li {
	display: inline-block;
}

ul.movies li img {
	max-height: 300px;
}

div.image-overlay {
	color: #ccc;
	font-size: 0.75em;
	vertical-align: middle;
	overflow: hidden;
}

div.image-overlay h1 {
	color: orange;
	font-size: 1.3em;
	border-bottom: 1px solid gray;
	margin-bottom: 0;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.ratings a {
	color: #bbb;
}

.ratings a:hover {
	text-decoration: none;
}

p.genres {
	margin-top: 0.4em;
}